/* Font import */
@font-face {
  font-family: "Lucida Grande";
  src: url(LucidaGrande.ttf);
}

@font-face {
  font-family: "Lucida Grande";
  src: url(LucidaGrandeBold.ttf);
  font-weight: bold;
}

/* General body styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  text-decoration: none;
  overflow-x: hidden;
}

a {
  color: #08c;
}

a:hover {
  text-decoration: underline;
}

/* Nav styling */

nav {
  position: absolute;
  height: 40px;
  z-index: 1;
}

/* Styling for nav ul as the container for the nav elements */
.nav {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
}

/* Hero section with full width and background image */
.hero {
  display: block;
  position: relative;
  width: 100vw;
  height: 538px;
  top: 0;
  background-color: aquamarine;
  background: url(../img/your_verse_hero.jpg) 50% 100% no-repeat;
  background-size: cover;
}

.promos {
  display: grid;
  width: 100vw;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-gap: 5px;
  margin-top: 5px;
}

footer {
  width: 80%;
  margin: 0 auto;
}