/* Font import */
@font-face {
  font-family: "Lucida Grande";
  src: url(LucidaGrande.ttf);
}

@font-face {
  font-family: "Lucida Grande";
  src: url(LucidaGrandeBold.ttf);
  font-weight: bold;
}

/* General body styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  overflow-x: hidden;
}

a {
  color: #08c;
}

a:hover {
  text-decoration: underline;
}

/* Nav styling */

nav {
  position: absolute;
  height: 36px;
  z-index: 1;
  width: 100%;
}

/* Styling for nav ul as the container for the nav elements */
.nav {
  margin: 0 auto;
  width: 72.3%;
  height: 36px;
  margin-top: 85px;
  display: grid;
  overflow: hidden;
  list-style: none;
  line-height: 36px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
  justify-content: center;
  color: white;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0) 97%,
      rgba(0, 0, 0, 0.45)
    ),
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0) 2%,
      rgba(0, 0, 0, 0) 99.8%,
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(
      #808080,
      #707070 50%,
      #5e5e5e 51%,
      rgb(129, 129, 129)
    );
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  border-radius: 4px;
}

.nav img {
  height: 25px;
  margin: 4px 0;
}

.hero a {
  display: block;
  height: 30px;
  overflow-y: hidden;
}

.footer-1 div a {
  padding-left: 4px;
}

.footer-1 div img {
  margin-bottom: -3px;
}

.nav li a {
  padding: 0 20px;
  display: inline-block;
  height: 36px;
  width: 100%;
  color: white;
  font-size: 0.8em;
  border-right: 1px solid rgb(75, 75, 75);
  box-shadow: inset rgba(206, 206, 206, 0.513) 0 1px 2px;
  text-align: center;
}

.nav li a:hover {
  text-decoration: none;
}

.nav li:hover {
  background-color: rgba(0, 0, 0, 0.404);
  box-shadow: inset 0 0 10px rgba(180, 180, 180, 0.664);
}

/* Search box styling, will grow on focus */
#search {
  margin: 0 20px;
  margin-right: calc(20px - 0.7em);
  width: 106px;
  height: 18px;
  border: none;
  border-radius: 12px;
  box-shadow:
    inset rgba(0, 0, 0, 0.6) 0 2px 1px,
    rgba(255, 255, 255, 0.2) 0 1px 0;
  background-color: transparent;
  padding-left: 20px;
  transition: all 0.3s ease-in-out;
}

.fa-search {
  font-size: 0.7em;
  position: relative;
  left: -116px;
  top: 2px;
  transition: all 0.3s ease-in-out;
}

#search:focus {
  width: 180px;
  background-color: white;
  transition: all 0.3s ease-in-out;
  outline: none;
}

#search:focus + .fa-search {
  color: gray;
  left: -190px;
  transition: 0.3s ease-in-out;
}

/* Hero section with full width and background image */
body > span {
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 538px;
  background: url(../img/your_verse_hero.jpg) 50% 100% no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.hero a img:hover {
  margin-top: -32px;
}

/* Promo images with grid display */
.promos {
  display: grid;
  width: 100vw;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-gap: 2px;
  margin-top: 2px;
}

.promos div {
  width: 100%;
  height: 190px;
  background-size: cover;
}

#promo-1 {
  background: url(../img/promo_iphone5s.jpg) center center no-repeat;
}

#promo-2 {
  background: url(../img/promo_iphone5c.jpg) center center no-repeat;
}

#promo-3 {
  background: url(../img/promo_30_years.jpg) center center no-repeat;
}

#promo-4 {
  background: url(../img/promo_supplier_responsibility.jpg) center center no-repeat;
}

/* Footer styling */

footer {
  width: 72.3%;
  margin: 0 auto;
  font-size: 0.6em;
  color: #6e6e6e;
  padding: 20px 0;
}

.footer-1 {
  height: 30px;
  line-height: 30px;
}

.footer-1 p {
  float: left;
}

.footer-1 div {
  float: right;
}

.footer-1 div a:not(:last-child) {
  border-right: 1px solid #ccc;
  padding-right: 7px;
}
